
#container {
  text-align: start;
  position: absolute;
  left: 0;
  right: 0;
  top: 210%;
  transform: translateY(-50%);
  padding: 0 5%;
}
ion-range{
  padding: 0 15%;
  --bar-background: #a2d2ff;
  --bar-background-active: #bde0fe;
  --bar-height: 5px;
  --bar-border-radius: 8px;
  --knob-background: #d95386;
  --knob-size: 32px;
  --pin-background: #ffafcc;
  --pin-color: #fff;
}
ion-radio{
  font-size: 15px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
#imc{
  height: 40vh;
}
#emprestimo{
  height: 50vh;
}
#desconto{
  height: 30vh;
}
#transporte{
  height: 40vh;
}
#combustivel{
height: 40vh;
}
#converterUnidades{
  height: 40vh;
}
#triangulo{
  height: 40vh;
}
#media{
  height: 40vh;
}

ion-label span{
  font-weight: 800;
}
